{% extends "main.html" %}

{% block content %}
<section class="place section" id="place">
    <h2 class="section__title">Choose Your Place</h2>

    <div class="place__container container grid">
{% for item in place %}


<div class="place__card">
    <img src="{{item.Image.url}}" alt="{{item.Image.url}}" class="place__img">
    
    <div class="place__content">

        <div class="place__data" style="margin-top: auto;">
            <h3 class="place__title">{{item.Title}}</h3>
            <span class="place__subtitle">{{item.Title}}</span>
            <span class="place__price">${{item.Price}}</span>
        </div>
    </div>

    <button class="button button--flex place__button">
        <i class="ri-arrow-right-line"></i>
    </button>
</div>
  
{% endfor %}

    </div>
</section>
{% endblock content %}