{% extends "main.html" %}

{% block content %}
<section class="place section" id="place">
    <h2 class="section__title">Choose Your Place</h2>

    <div class="place__container container grid">
        <!--==================== PLACES CARD 1 ====================-->
        <div class="place__card">
            <img src="static/images/place1.jpg" alt="" class="place__img">
            
            <div class="place__content">
                <span class="place__rating">
                    <i class="ri-star-line place__rating-icon"></i>
                    <span class="place__rating-number">4,8</span>
                </span>

                <div class="place__data">
                    <h3 class="place__title">Bali</h3>
                    <span class="place__subtitle">Indonesia</span>
                    <span class="place__price">$2499</span>
                </div>
            </div>

            <button class="button button--flex place__button">
                <i class="ri-arrow-right-line"></i>
            </button>
        </div>
    </div>
</section>
{% endblock content %}